* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 400;
    margin: 0 12.8rem;
}

.btn {
    border: none;
}

.btn:hover {
    cursor: pointer;
}

.main-button {
    border-radius: 10px;
    background-color: hsl(26, 100%, 55%);
    color: hsl(0, 0%, 100%);
    font-size: 1.6rem;
    font-weight: 700;
    transition: all 0.3s;
}

.main-button:hover {
    filter: opacity(60%);
}