/* Primary colors */
$soft_red: hsl(7,99%,70%);
$yellow: hsl(51, 100%, 49%);
$yellow_transparent: hsla(51, 100%, 49%, 0.42);
$dark_desaturated_cyan: hsl(167, 40%, 24%);
$dark_blue: hsl(198, 62%, 26%);
$dark_moderate_cyan: hsl(168, 55%, 62%);

/* Neutral colors */
$very_dark_desaturated_blue: hsl(212, 27%, 19%);
$very_dark_grayish_blue: hsl(213, 9%, 39%);
$dark_grayish_blue: hsl(232, 10%, 55%);
$grayish_blue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);

/* Fonts */
$fraunces: "Fraunces", sans-serif;
$barlow: "Barlow", sans-serif;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 3.6rem;
}