/* Primary colors */
/* Neutral colors */
/* Fonts */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

/****************************/
/*      STARTING PAGE       */
/****************************/
.starting-page {
  height: 100vh;
  background-image: url("../images/desktop/image-header.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: hsl(0, 0%, 100%);
}
.starting-page .header {
  justify-content: center;
  align-items: center;
  padding: 5.4rem 3.6rem;
  height: 10.8rem;
  font-size: 2.2rem;
}
.starting-page .header .logo {
  height: 3.6rem;
  width: auto;
}
.starting-page .header .main-nav {
  margin-left: auto;
  margin-right: 3.6rem;
}
.starting-page .header .main-nav .main-nav--list {
  gap: 1.8rem;
}
.starting-page .header .main-nav .main-nav--list li {
  text-align: center;
  color: inherit;
  max-width: 18rem;
  padding: 1.8rem 2.4rem;
  border: 1px solid transparent;
  border-radius: 30px;
}
.starting-page .header .main-nav .main-nav--list li a {
  color: inherit;
}
.starting-page .header .main-nav .main-nav--list li:last-child {
  display: inline-block;
  background-color: hsl(0, 0%, 100%);
  font-family: "Fraunces", sans-serif, sans-serif;
  font-weight: 700;
  color: hsl(212, 27%, 19%);
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 30px;
  text-transform: uppercase;
}
.starting-page .header .main-nav .main-nav--list li:hover,
.starting-page .header .main-nav .main-nav--list li:active {
  background-color: rgba(255, 255, 255, 0.22);
  border: 1px solid rgba(255, 255, 255, 0.22);
  border-radius: 30px;
  cursor: pointer;
}
.starting-page .section-hero {
  align-items: center;
  gap: 7.2rem;
  padding-top: 14.4rem;
}
.starting-page .section-hero .hero--title {
  font-family: "Fraunces", sans-serif, sans-serif;
  font-weight: 900;
  font-size: 7.2rem;
  text-transform: uppercase;
  letter-spacing: 1.2rem;
}

/****************************/
/*      SECTION ABOUT       */
/****************************/
.section-about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.section-about .container {
  display: flex;
  justify-content: center;
}
.section-about .container .container-t--content {
  gap: 3.6rem;
  padding: 16.2rem;
}
.section-about .container .container-t--content .container-t--heading {
  font-family: "Fraunces", sans-serif, sans-serif;
  font-weight: 700;
  font-size: 9rem;
  color: hsl(212, 27%, 19%);
}
.section-about .container .container-t--content .container-t--text {
  font-size: 2rem;
  color: hsl(213, 9%, 39%);
  line-height: 3rem;
}
.section-about .container .container-t--content .learn-more {
  position: relative;
  width: 13.6rem;
  font-family: "Fraunces", sans-serif, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.section-about .container .container-t--content .learn-more:after {
  position: absolute;
  top: 1.4rem;
  left: -0.2rem;
  width: 13.3rem;
  height: 1rem;
  background-color: hsla(51, 100%, 49%, 0.42);
  border-radius: 15px;
  content: "";
  z-index: -1;
}
.section-about .container .container-t--content .learn-more:hover {
  cursor: pointer;
}
.section-about .container .container-t--content .learn-more:hover:after {
  background-color: hsl(51, 100%, 49%);
}
.section-about .container img {
  width: 100%;
}
.section-about .container .container-ti--content {
  align-items: center;
  align-self: end;
  opacity: 0.7;
  padding: 12.6rem;
}
.section-about .container .container-ti--content .container-ti--heading {
  font-family: "Fraunces", sans-serif, sans-serif;
  font-weight: 900;
  font-size: 3.6rem;
}
.section-about .container .container-ti--content .container-ti--text {
  flex-grow: 1;
  padding: 0 7.2rem;
  font-size: 2rem;
  line-height: 3.2rem;
  text-align: center;
}
.section-about .container:nth-child(4) .learn-more:hover:after {
  background-color: hsl(7, 99%, 70%);
}
.section-about .container:nth-child(5) {
  background-image: url("../images/desktop/image-graphic-design.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.section-about .container:nth-child(6) {
  background-image: url("../images/desktop/image-photography.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

/****************************/
/*   SECTION TESTIMONIALS   */
/****************************/
.section-testimonials {
  display: grid;
  grid-template-rows: 1fr 4fr;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  row-gap: 3.6rem;
  padding: 14.4rem;
  color: hsl(213, 9%, 39%);
}
.section-testimonials .testimonials-title {
  grid-column: 1/-1;
  text-transform: uppercase;
  font-family: "Fraunces", sans-serif, sans-serif;
  font-weight: 700;
  opacity: 0.7;
  letter-spacing: 0.9rem;
}
.section-testimonials .testimonial {
  grid-row: 2;
  align-items: center;
}
.section-testimonials .testimonial img {
  width: 9rem;
  height: auto;
  border-radius: 50%;
}
.section-testimonials .testimonial .testimonial-text {
  flex-grow: 1;
  padding: 3.6rem;
  line-height: 1.8;
  font-size: 2rem;
  text-align: center;
}
.section-testimonials .testimonial .testimonial-author {
  align-items: center;
  margin-bottom: 0;
  gap: 1.3rem;
}
.section-testimonials .testimonial .testimonial-author .author-name {
  font-family: "Fraunces", sans-serif, sans-serif;
  font-weight: 900;
  font-size: 2rem;
  color: hsl(212, 27%, 19%);
}
.section-testimonials .testimonial .testimonial-author .author-job {
  opacity: 0.7;
}

/****************************/
/*         GALLERY          */
/****************************/
.gallery {
  background-color: hsl(168, 55%, 62%);
  height: 40rem;
}
.gallery .gallery-container .gallery-image {
  max-width: 100%;
}

/****************************/
/*          FOOTER          */
/****************************/
.footer {
  background-color: hsl(168, 55%, 62%);
  align-items: center;
  padding: 7.2rem;
}
.footer .footer-menu {
  padding-bottom: 7.2rem;
}
.footer .footer-menu .footer-menu--list {
  gap: 3.6rem;
}
.footer .footer-menu .footer-menu--list .footer-link {
  color: hsl(167, 40%, 24%);
}
.footer .footer-menu .footer-menu--list .footer-link:hover {
  color: white;
}
.footer .footer-socials--list {
  display: flex;
  gap: 1.8rem;
}
.footer .footer-socials--list li {
  transition: 0.3s all;
}
.footer .footer-socials--list li img {
  filter: invert(27%) sepia(29%) saturate(659%) hue-rotate(116deg) brightness(97%) contrast(94%);
}
.footer .footer-socials--list li:hover {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(3deg) brightness(100%) contrast(104%);
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
