@use 'general';

@mixin font($font, $font_weight) {
  font-family: $font, sans-serif;
  font-weight: $font_weight;
}

/****************************/
/*      STARTING PAGE       */
/****************************/
.starting-page {
  height: 100vh;
  background-image: url("../images/desktop/image-header.jpg");
  background-size: cover;
  color: general.$white;

  .header {
    padding: 5.4rem 3.6rem;
    height: 10.8rem;
    font-size: 2.2rem;

    .logo {
      height: 3.6rem;
      width: auto;
    }

    .main-nav {
      margin-left: auto;
      margin-right: 3.6rem;

      .main-nav--list {
        gap: 1.8rem;

        li {
          display: inline-block;
          text-align: center;

          color: inherit;
          width: 18rem;
          padding: 1.8rem 2.4rem;
          border: 1px solid transparent;
          border-radius: 30px;

          a {
            color: inherit;
          }
        }

        & li:last-child {
          display: inline-block;
          background-color: general.$white;
          @include font(general.$fraunces, 700);
          color: general.$very_dark_desaturated_blue;
          border: 1px solid general.$white;
          border-radius: 30px;
          text-transform: uppercase;
        }

        li:hover,
        li:active {
          background-color: rgba(255, 255, 255, 0.22);
          border: 1px solid rgba(255, 255, 255, 0.22);
          border-radius: 30px;
          cursor: pointer;
        }
      }
    }
  }

  .section-hero {
    align-items: center;
    gap: 7.2rem;

    padding-top: 14.4rem;

    .hero--title {
      @include font(general.$fraunces, 900);
      font-size: 7.2rem;
      text-transform: uppercase;
      letter-spacing: 1.2rem;
    }
  }
}

/****************************/
/*      SECTION ABOUT       */
/****************************/
.section-about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);

  .container{
    display: flex;
    justify-content: center;

    .container-t--content {
      padding: 16.2rem;

      .container-t--heading {
        @include font(general.$fraunces, 700);
        font-size: 9rem;
        color: general.$very_dark_desaturated_blue;
      }

      .container-t--text {
        font-size: 2rem;
        color: general.$very_dark_grayish_blue;
        line-height: 3rem;
      }

      .learn-more {
        position: relative;
        width: 13.6rem;
        @include font(general.$fraunces, 700);
        text-transform: uppercase;

        &:after{
          position: absolute;
          top: 1.4rem;
          left: -0.2rem;

          width: 13.3rem;
          height: 1rem;
          background-color: general.$yellow_transparent;
          border-radius: 15px;
          content: '';
          z-index: -1;
        }

        &:hover {
          cursor: pointer;

          &:after {
            background-color: general.$yellow;
          }
        }
      }
    }

    img {
      width: 100%;
      height: auto;
    }

    .container-ti--content {
      align-items: center;
      margin-top: auto;
      opacity: 0.7;
      padding: 16.2rem;

      .container-ti--heading {
        @include font(general.$fraunces, 900);
        font-size: 3.6rem;
      }

      .container-ti--text {
        padding: 0 7.2rem;
        font-size: 2rem;
        line-height: 3.2rem;
        text-align: center;
      }
    }

    &:nth-child(4) {
      .learn-more:hover:after{
        background-color: general.$soft_red;
      }
    }

    &:nth-child(5) {
      background-image: url("../images/desktop/image-graphic-design.jpg");
      background-size: cover;
    }

    &:nth-child(6){
      background-image: url("../images/desktop/image-photography.jpg");
      background-size: cover;
    }
  }
}

/****************************/
/*   SECTION TESTIMONIALS   */
/****************************/
.section-testimonials {
  display: grid;
  grid-template-rows: 1fr 4fr;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  row-gap: 3.6rem;
  padding: 14.4rem;
  color: general.$very_dark_grayish_blue;


  .testimonials-title {
    grid-column: 2/3;
    text-transform: uppercase;
    @include font(general.$fraunces, 700);
    opacity: 0.7;
    letter-spacing: 0.9rem;
  }

  .testimonial {
    grid-row: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.6rem;

    img {
      width: 9rem;
      height: auto;
      border-radius: 50%;
    }

    .testimonial-text {
      padding: 3.6rem;
      line-height: 1.8;
      font-size: 2rem;
      text-align: center;
    }

    .testimonial-author {
      align-items: center;
      gap: 1.3rem;

      .author-name {
        @include font(general.$fraunces, 900);
        font-size: 2rem;
        color: general.$very_dark_desaturated_blue;
      }

      .author-job {
        opacity: 0.7;
      }
    }
  }
}

/****************************/
/*         GALLERY          */
/****************************/
.gallery {
  background-color: general.$dark_moderate_cyan;

  .gallery-container {
    width: 25%;

    .gallery-image {
      max-height: 100%;
      max-width: 100%;
    }
  }
}

/****************************/
/*          FOOTER          */
/****************************/
.footer {
  background-color: general.$dark_moderate_cyan;
  align-items: center;
  padding: 7.2rem;

  .footer-menu {
    padding-bottom: 7.2rem;

    .footer-menu--list {
      gap: 3.6rem;

      .footer-link {
        color: general.$dark_desaturated_cyan;

        &:hover{
          color: white;
        }
      }
    }
  }

  .footer-socials--list {
    display: flex;
    gap: 1.8rem;

    li {
      transition: 0.3s all;
      img {
        filter: invert(27%) sepia(29%) saturate(659%) hue-rotate(116deg) brightness(97%) contrast(94%);
      }
      &:hover {
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(3deg) brightness(100%) contrast(104%);
        cursor: pointer;
      }
    }
  }

}


